.post-item{
    margin-top: 10px;
}
.pa p{
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
}
.row .content{
    margin: 10px;
}
.pContainer{
    position: relative;
}
@media screen and (max-width: 768px){
    .filterable .columns{
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px){
    .columns:not(.is-desktop){
        display: flex;
    }
}
.comment{
    padding-left: 40px;
}
.comment p{
    padding-left: 40px;
}
.comment b{
    padding-left: 20px;
}
.comment small{
    font-size: 10px;
    padding-left: 10px;
}
.comment button{
    margin-left: 40px;
    font-size: 13px;
    display: block;
    size: 20px;
}